:root{
    --lightp: #0e5ea0;
    --darkp: #000000;
    --lights: #fff9fa;
    --lightt:#ddd8d0;
    --lightf:#d7d1d1;
    --lighttext: #000;
    --lt2: #000000;
    --darks: #c20000;
    --darkt:#c20000;
    --darkf:#fefefe;
    --darktext: #ffffff;
    --dt2: #000;
    --primary: var(--lightp);
    --secondary: var(--lights);
    --tertiary: var(--lightt);
    --fourth:var(--lightf)
    --texts:var(--lighttext)
    --t2:var(--lt2)
}
.lightmd{
    --primary:var(--lightp);
    --secondary:var(--lights);
    --tertiary: var(--lightt);
    --fourth:var(--lightf);
    --texts:var(--lighttext);
    --t2:var(--lt2)
}
.darkmd{
    --primary:var(--darkp);
    --secondary:var(--darks);
    --tertiary: var(--darkt);
    --fourth:var(--darkf);
    --texts:var(--darktext);
    --t2:var(--dt2)
}
