:root{
    --lightp: #838684;
    --darkp: #000000;
    --lights: #fff9fa;
    --lightt:#fece44;
    --lightf:#ee8577;
    --darks: #2d3e60;
    --darkt:#43968c;
    --darkf:#5fd69c;
    --primary: var(--lightp);
    --secondary: var(--lights);
    --tertiary: var(--lightt);
    --fourth:var(--lightf)
}
.lightmd{
    --primary:var(--lightp);
    --secondary:var(--lights);
    --tertiary: var(--lightt);
    --fourth:var(--lightf)
}
.darkmd{
    --primary:var(--darkp);
    --secondary:var(--darks);
    --tertiary: var(--darkt);
    --fourth:var(--darkf)
}
